.resume h1 {
  font-size: 45px;
  font-family: arial;
  color:rgb(30, 69, 87);
  padding:0;
  text-align: left;
  font-weight:bold;
}

.main {
  width:100%;
  height:auto;
  display: flex;
}

.summary {
  width: 45%;
  margin-left: 5%;
  height:auto;
  float:left;
}

.summary h2 {
  margin-left: 3%;
}

.section-1 {
  margin-left: 5%;
}

.experience {
  width:45%;
  height:auto;
}

.resume h2{
  font-family:arial;
  font-weight:bold;
}

.description-bar {
  margin-left:0;
  font-style: italic;
}

.list li {
  font-family: arial;
  font-size: 16px;
}

.section-2 {
  margin-left:5%;
}
.section-2 h6 {
  font-family: "Raleway", sans-serif;
}
.para {
  font-style: italic;
}

.experience h2 {
  margin-left: 3%;
}

.section-3 {
  margin-left :5%;
}

.section-4 {
  margin-left :5%;
}
/* Resume section ends here  */