.about {
  background-color: #ffffff;
  margin-top: 50px;
}

.about h1 {
  font-size: 45px;
  font-family: arial;
  color: rgb(30, 69, 87);
  padding: 0;
  text-align: left;
  font-weight: bold;
}

.about hr {
  border-top: 1px solid rgb(30, 69, 87);
}

.about p {
  font-family: arial;
  color: rgb(15, 15, 15);
}

.list {
  font-family: arial;
  font-size: 18px;
}

.list-content li {
  list-style-type: circle;
}

/* about section ends here  */
